 body
{
	background-color: #FAFAD2;
	font-family: arial;
}

div.bio
{
	background-image: url("../img/hobbes1.png");
	background-repeat: no-repeat;
	background-position: right;
	color: #D2691E;
	border-style: solid;
	border-color: black;
}

div.bio:hover
{
	border-color: #D2691E;
}

h1
{
	color: #D2691E;
}

p
{
	padding-left: 10px;
	padding-right: 130px;
	font-size: 16pt;
}

h3
{
	padding-left: 30px;
}
